<div class="container">
  <div class="row mb-2">
    <% @answers.each do |answer| %>
      <div class="col-2">
        <%= answer.chinese_character.chinese_character %>
      </div>
      <div class="col">
      <% if @type == "read" %>
        <%= answer.correct_of_reading %>
      <% elsif @type == "mean" %>
        <%= answer.correct_of_meaning %>
      <% end %>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <% unless params[:page] == 4 %>
      <%#= link_to "結果を確認する", questions_path(level: params[:level], type: params[:type], group: params[:group], page: params[:page] + 1 ), class: "btn btn-primary col-2" %>
    <% else %>
      <%= link_to "次の問題に進む", root_path, class: "btn btn-primary col-2" %>
    <% end %>
  </div>
</div>