<div class="container">
  <h3 class="mt-5">About</h3>
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <p>
        High Skiill!にようこそ！このサイトは、高校の勉強が難しく、じっくりと小学校時代</br>
        からの苦手なところに取り組んでいきたい方におすすめのサイトです。</br>
        勉強が面白いと思えるようになるまでの基礎づくりに役立ててくれれば嬉しいです。
      </p>
    </div>
  </div>
</div>
