<div class="container">
  <h3>問題一覧</h3>
  <div class="row">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>小学６年生</td>
        </tr>
        <tr>
          <td>1-20</td>
          <td><%= link_to "読み", question_path(id: 0, type: "read", group: 1, page: 1), class: "btn btn-primary" %>
          </td>
          <td><%= link_to "意味", question_path(id: 0, type: "mean", group: 1, page: 1), class: "btn btn-success" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>